/////////////////
// PAGE STYLES //
/////////////////

html, body
  height: 100%
  min-width: 300px
  font-family: 'Raleway', sans-serif
  color: #555
  overflow: hidden
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

h1
  color: #fff
  font-family: 'Tangerine', cursive
  font-size: 13em
  font-weight: normal
  text-align: center
  margin: 0

a, .pipe
  color: #fff
  text-decoration: none

////////////
// HEADER //
////////////

header
  position: fixed
  top: 0
  right: 1em
  margin: 1em
  display: flex
  flex-direction: row
  justify-content: space-around

  .social__links
    display: flex

    .fa::before
      font-size: 1.5em

    a
      padding: 1em
      color: rgb(130, 130, 130)



/////////////
// CONTENT //
/////////////

.page
  width: 100%
  height: 100%
  position: relative

  background-color: rgb(240, 237, 228)
  background-repeat: no-repeat
  background-position: 0% center
  background-size: cover

  -webkit-transform: translate3d(0, 0, 0)
  transform: translate3d(0, 0, 0)
  -webkit-backface-visibility: hidden

for i in 2 3 4
  .page:nth-of-type({i}).active
    transform: translateY((i - 1) * -100%)

.content
  padding: 200px 0 200px 75vh

.close-btn
  color: rgba(0, 0, 0, .5)
  margin: 1em

nav
  text-align: center
  font-size: 1.5em
  font-weight: bold

  a
    font-style: italic

#home-page
  background-image: url('../assets/images/joy-headshot-full.jpg')
  background-size: contain

#shows-page
  background-color: rgb(210, 94, 79)
  background-image: url('../assets/images/shows-bg.jpg')
  transition: transform .8s ease-in-out

  .content
    color: #ccc
    padding: 0
    width: auto

  .bit-share-links, .bit-share-text
    display: none

#mailing-list-page
  background-color: rgb(240, 237, 228)
  background-image: url('../assets/images/contact-bg.jpg')
  transition: transform 1.2s ease-in-out

  .content
    padding-left: 10%

#contact-page
  background-color: rgb(240, 237, 228)
  background-image: url('../assets/images/joy-headshot-full.jpg')
  background-size: initial
  transition: transform 1.2s ease-in-out

  .content
    padding-left: 110vh
    max-width: 350px

  a
    color: #555


#contact__email, #shows-page tr:not(.bit-header)
  -webkit-user-select: initial
  user-select: initial

///////////////////////
// Mailing list form //
///////////////////////

.input-group
  margin: 1em 0
  display: table
  font-size: 18px

.input-group-addon
  padding: 0 1em
  border-radius: 5px 0 0 5px
  background-color: rgba(238, 238, 238, .8)
  border: 1px solid #ccc
  display: table-cell
  border-right: 0


input[type="email"]
  display: table-cell
  padding: 10px 16px
  line-height: 1.33
  background-color: rgba(255, 255, 255, .8)
  border-radius: 0 5px 5px 0
  border: 1px solid #ccc
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s

  &:focus
    border-color: #66afe9
    outline: 0
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)

  &.invalid
    border-color: #a94442
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(169, 68, 66, .6)

input[type="submit"]
  -webkit-appearance: button
  font-size: 18px
  font-weight: 400
  line-height: 1.33
  border: 1px solid #ccc
  border-radius: 5px
  background-color: #fff
  padding: 10px 16px

////////////////////
// Responsiveness //
////////////////////


@media only screen and (orientation: portrait)
  html, body
    min-width: initial
    overflow: auto

  html
    background-color: #f0ede4
    background-image: url('../assets/images/joy-headshot-full.jpg')
    background-size: cover

  body
    background-color: rgba(255, 255, 255, .7)

  header
    width: 100%
    position: static
    margin: 0

  a, h1, .pipe, .content
    color: #555 !important

  .page
    position: static
    height: auto
    width: auto
    margin: 2em 0
    padding: 1em
    background-image: none !important
    background-color: transparent !important
    transform: translateY(0) !important

  .content
    padding: 0 !important
    max-width: none

  .close-btn
    display: none
