@import "grid.styl"

/////////////////
// PAGE STYLES //
/////////////////

html, body
  height: 100%
  min-width: 300px

body
  background: url('../assets/images/joy-headshot-full.jpg') no-repeat 0% center fixed
  background-size: cover
  -webkit-user-select: none;
  font-family: 'Raleway', sans-serif
  overflow: hidden

////////////
// HEADER //
////////////

header
  position: fixed
  top: 0
  right: 1em
  display: flex
  flex-direction: row
  justify-content: space-around

  .social__links
    list-style: none
    display: flex

  a, a:visited
    color: rgb(130, 130, 130)
    text-decoration: none
    display: block
    padding: 1em

.fa::before
  font-size: 25px


/////////////
// CONTENT //
/////////////

#content-container
  position: static
  padding: 200px 0
  margin-left: 550px
  width: 450px

  h1
    color: #fff
    font-family: 'Tangerine', cursive
    font-size: 214px
    font-weight: normal
    text-align: center
    margin: 0

  h2
    text-align: center
    color: #fff

  .nav-link
    color: #fff
    font-style: italic
    text-decoration: none

#headshot
  display: none

////////////////////
// RESPONSIVENESS //
////////////////////

@media screen and (max-width: 960px)
  body
    background-image: none
    background-color: #f1eee7
    overflow: auto


  header
    position: static

  #content-container
    padding: 50px
    margin-left: 0
    width: auto

  #headshot
    display: block
    border-radius: 10%
    margin: 10% auto
    width: 90%

  .social__links
    padding-left: 0

@media screen and (max-width: 640px)

  .nav-link
    display: block
    width: 100%

  .pipe
    display: none
