//////////
// VARS //
//////////

$main-text-color       = rgb(64,  63,  61)
$link-color            = rgb(255, 255, 255)
$header-link-color     = rgb(127, 126, 121)
$contact-link-color    = rgb(64,  63,  61)
$hero-nav-color        = rgb(255, 255, 255)

$page-bg-color         = rgb(240, 237, 228)
$contact-bg-color      = rgb(245, 241, 242)
$mailing-list-bg-color = rgb(240, 237, 228)
$shows-bg-color        = rgb(210, 94,  79)

$placeholder-color     = rgb(108, 94,  84)



/////////////////
// PAGE STYLES //
/////////////////

html, body
  height: 100%
  min-width: 300px
  font-family: 'Open Sans Condensed', sans-serif
  font-size: 100%
  color: $main-text-color
  box-sizing: border-box
  overflow: hidden
  user-select: none

*, *:before, *:after
  box-sizing: inherit
  -webkit-touch-callout: none

h1
  color: $hero-nav-color
  font-family: 'Tangerine', cursive
  font-size: 13em
  font-weight: normal
  text-align: center
  margin: 0
  margin-bottom: .1em

a
  color: $link-color
  text-decoration: none

////////////
// HEADER //
////////////

header
  position: fixed
  top: 0
  right: 1rem
  margin: 1rem
  display: flex
  flex-direction: row
  justify-content: space-around

.social__links
  display: flex

  .fa::before
    font-size: 1.5rem

  a
    padding: 1rem
    color: $header-link-color


/////////////
// CONTENT //
/////////////

.page
  height: 100%
  width: 100%

  position: fixed

  opacity: 0
  visibility: hidden

  background-color: $page-bg-color
  background-repeat: no-repeat
  background-position: 0% center
  background-size: contain

  transition: visibility 0s linear 1s, opacity 1s ease-in-out

  &.active
    opacity: 1
    visibility: visible

    transition-delay: 0s

.content
  padding: 15% 0 15% 75vh

.close-btn
  color: rgba(0, 0, 0, .5)
  margin: 1rem

nav
  text-align: center
  font-size: 1.5rem

  a
    color: $hero-nav-color
    font-size: 1.5em
    font-size: 5vmin
    font-style: italic
    border-right: .05em solid
    padding-left: .2em
    padding-right: .5em

    &:last-of-type
      border: none

#home-page
  background-image: url('../assets/images/joy-headshot-full.jpg')

  opacity: 1
  visibility: visible

#shows-page
  background-color: $shows-bg-color
  background-image: url('../assets/images/shows-bg.jpg')
  background-size: cover
  color: #e5e3da

  .content
    padding: 0

  .bit-share-links, .bit-share-text
    display: none

#mailing-list-page
  background-color: $mailing-list-bg-color
  background-image: url('../assets/images/mailing-list-bg.jpg')
  background-size: cover

  .content
    padding-left: 10%

#contact-page
  background-image: url('../assets/images/contact-bg.jpg')
  background-color: $contact-bg-color

  .content
    transition: padding-left .5s ease-in-out
    padding-left: 80vh

  a
    color: $contact-link-color


#contact__email, #shows-page tr:not(.bit-header)
  user-select: initial

///////////////////////
// Mailing list form //
///////////////////////

.input-group
  margin: 1rem 0
  display: inline-flex
  font-size: 1.2rem

label
  display: block

input[type="email"]
  color: white
  flex: 1
  padding: 7px
  line-height: 1.33
  background-color: transparent
  border: none
  border-bottom: 1px solid #bcc3d1
  transition: border-color ease-in-out .15s

  &:focus
    border-color: #66afe9
    outline: 0

  &.invalid
    border-color: #a94442

  &::placeholder
    color: $placeholder-color

input[type="submit"]
  -webkit-appearance: button
  -moz-appearance: button
  font-weight: 400
  line-height: 1.33
  border: 1px solid transparent
  border-bottom: 1px solid #ccc
  background-color: transparent
  padding: .5rem
  padding-bottom: 8px

  &:hover
    border-bottom: 2px solid #ccc

  &:active, &:focus
    border-bottom: 2px solid green


////////////////////
// Responsiveness //
////////////////////

@media only screen and (orientation: portrait)
  html, body
    min-width: initial
    overflow: auto

  html
    background-color: #f0ede4
    background-image: url('../assets/images/joy-headshot-full.jpg')
    background-size: cover

  body
    background-color: rgba(255, 255, 255, .7)

  header
    width: 100%
    position: static
    align-items: center
    margin: 0

  a, h1, .content
    color: #555 !important


  nav
    display: none

  .page
    height: auto
    width: auto
    position: static
    margin: 2rem 0
    padding: 1rem
    background-image: none !important
    background-color: transparent !important
    transform: none !important
    transition: none !important
    opacity: 1
    visibility: visible

  .content
    padding: 0 !important
    max-width: none !important

  .close-btn
    display: none

@media screen and (max-device-width: 480px)
  h1
    font-size: 11rem !important

// High-rez unscaled screens (e.g. Kindle Fire HDX)
@media only screen and (min-width: 2550px) and (-webkit-max-device-pixel-ratio: 2)
  html
    font-size: 200% !important


// iPhone / old android < 6 in landscape
@media only screen and (orientation: landscape) and (max-height: 370px)
  html
    font-size: 85% !important

  #contact-page .content
    padding-left: 1rem !important

// Portrait iPads
@media screen and (min-aspect-ratio: 5/3)
  #contact-page .content
    padding-left: 110vh !important